 @keyframes animationsSliderLeft {
     from {
         transform: translateX(-90%);
     }
     to {
         transform: translateX(0);
     }
 }
 @keyframes animationsFooter {
    0% {
        transform: translateY(8px);
    }
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(4px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}
 @keyframes animationsSliderRight {
    from {
        transform: translateX(90%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
 .sliderAnimationLeft{
     animation-name: animationsSliderLeft;
     animation-duration: 1.5s;
 }
 .sliderAnimationRight{
    animation-name: animationsSliderRight;
    animation-duration: 1.5s;
 }
 .is-img-loading {
    opacity: 0;
}

.is-img-loaded {
    animation: fadeIn .3s ease;
    opacity: 1;
}

.icon-hover:hover {
    animation: animationsFooter 1s ease-in-out;
    cursor: pointer;
}
/* loading */

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, #25b09b 1deg 120deg,#0000 121deg);
    animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  .loader:before,
  .loader:after {
    content:'';
    position: absolute;
    inset:0;
    background:inherit;
    transform-origin: 50% 66%;
    animation: l27-1 1.5s infinite;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l27-0 {
     0%,30%      {transform: rotate(0)}
     70%         {transform: rotate(120deg)}
     70.01%,100% {transform: rotate(360deg)}
  }
  @keyframes l27-1 {
     0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
     30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
     100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
  }