@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.text_ecl-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
